@model blog_project.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <img style='width:100%; height:400px;' src="@Html.DisplayFor(model => model.Image)" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dislike)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dislike)
        </dd>
        <dd>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.ArticleID" class="form-control" id="ArticleInput" />
            </div>
            <div class="form-group">
                <label class="control-label">Text comment</label>
                <input asp-for="Text" type="text" class="form-control" style="height:auto;" value=" " id="TextInput" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="sendButton" />
            </div>

        </dd>

    </dl>
    <ul style="min-height:300px;height:auto;background-color:white" id="messagesList">
        @foreach (var item in ViewData["Comment"] as IList<blog_project.Models.Comment>)
        {
            <li>
                <p>Логин:@item.Profile.UserName</p>
                <p>Коментарий:@item.Text</p>
                <p>Дата:@item.DateTime</p>
                <br />
            </li>
        }
    </ul>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <div>
        @if (User.IsInRole("admin") || ViewData["UserName"] as string == User.Identity.Name)
        {
            <a asp-action="Edit" asp-route-id="@Model.ArticleID">Edit</a>

        }
    </div>
</div>

