
@model IEnumerable<blog_project.Models.Article>
@{
    List<blog_project.Models.Article> article = Model.ToList();
    int i = 0;
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col" style="margin-top: 50px;">
                <h4 class="text-center border rounded" style="background-color:white">@ViewData["Tags"]</h4>
            </div>
        </div>
    </div>
    <table class="table">
        <tbody>
            @while (i < article.Count())
            {
                <tr style="background-color:rgb(255,216,216)">

                    @if (article.Count() - i >= 3)
                    {
                        @while ((i + 1) % 4 != 0)
                        {

                            <td style="padding-right: 20px;padding-left:20px;border-radius:5px;">
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:22px;">
                                    @article[i].Title
                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:100px;">
                                    <img style='width:295px; height:100px;' src="@article[i].Image" />
                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:100px;">
                                    <textarea cols="38" readonly style="resize:none;border-color:none; overflow: hidden;min-height: 100px;read"> @article[i].Text</textarea>

                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:25px;">
                                    @article[i].DateTime
                                </div>

                                <a class="nav-link active text-center border rounded" asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@article[i].ArticleID" style="border: 1px solid #ccc; width: 295px;background-color:white;height:40px;">Подробнее</a>

                            </td>
                            i++;
                        }

                    }
                    else
                    {
                        @while (article.Count() - i > 0)
                        {

                            <td style="padding-right: 20px;padding-left:20px;border-radius:5px;">
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:22px;">
                                    @article[i].Title
                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:100px;">
                                    <img style='width:295px; height:100px;' src="@article[i].Image" />
                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:100px;">
                                    <textarea cols="38" readonly style="resize:none;border-color:none; overflow: hidden;min-height: 100px;read"> @article[i].Text</textarea>

                                </div>
                                <div style="border: 1px solid #ccc; width: 295px;background-color:white;height:25px;">
                                    @article[i].DateTime
                                </div>

                                <a class="nav-link active text-center border rounded" asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@article[i].ArticleID" style="border: 1px solid #ccc; width: 295px;background-color:white;height:40px;">Подробнее</a>

                            </td>
                            i++;
                        }
                        @while (i % 3 != 0)
                        {
                            <td style="padding-right: 20px;padding-left:20px;border-radius:5px; background-color:rgb(255,216,216)">
                                <div style="width: 295px; background-color:rgb(255,216,216) ">
                                </div>
                            </td>
                            i++;
                        }
                    }
                </tr>

            }
        </tbody>
    </table>

</div>
